body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.title{
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 255, 0, 90%), rgba(200, 200, 100, 90%));
    border-radius: 50px;
    outline: 2px solid black;
    outline-offset: 0;
}

.issue{
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 50, 100, 55%), rgba(255, 0, 0, 55%));
    border-radius: 50px;
    outline: 2px solid darkred;
    outline-offset: 0;
}
.advantage{
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 255, 255, 55%), rgba(100, 200, 200, 55%));
    border-radius: 50px;
    outline: 2px solid darkcyan;
    outline-offset: 0;
}
.possible{
    text-align: center;
    background: linear-gradient(to bottom, rgba(50, 205, 50, 55%), rgba(30,100,90, 55%));
    border-radius: 50px;
    outline: 2px solid darkgreen;
    outline-offset: 0;
}
.video{
    text-align: center;
    background: linear-gradient(to bottom, rgba(255, 0 , 255, 90%), rgba(255, 50, 100, 90%));
    border-radius: 50px;
    outline: 2px solid mediumvioletred;
    outline-offset: 0;
}